* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    height: 100%;
    overscroll-behavior-y: none;

}

body {
    margin: 0;
    font-family: 'Segoe UI', system-ui, sans-serif;
    color: var(--text);
    background-color: var(--bg);
    /* background-image removed for flat color */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
}